/* style1.css */
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: aliceblue;
    display: flex; /* Center content vertically and horizontally */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    height: auto;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px; /* Adjust as needed */
}

.form {
    width: 100%;
}

h2 {
    color: #333;
}

input[type="tel"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 50px; /* Adjust margin-top for smaller screens */
        width: 90%; /* Make container wider on smaller screens */
    }

    .container .form input {
        border: none;
        border-bottom: 1px solid black;
    }

    button {
        height: 35px; /* Increase button height for smaller screens */
    }
}